##  邮箱验证 ##

若当你登录 GitHub 时，出现图示横幅，则点击 verifying 进行邮箱验证操作：

1. 验证提示  
![Email-confirm000]()
2. 发送验证确认信  
![E]() 
3. 进入邮箱
[quit]()


在邮箱中找到以此为标题的邮件：

> [GitHub] Please verify your email '[你注册时填写的邮箱]'

点击邮件中这个网址（如果无法点击，请复制到网址栏进入）：

> https://github.com/users/[你创建的用户名]/emails/[blabla]

